
/* add additional custom styles */
.info-anal p {
  text-align: justify;
  font-size: 16px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border:black, solid, 10px;
  margin: 10px;

  
}
.info-anal{
  background-image: url(https://i.pinimg.com/originals/03/03/3c/03033c6690fd3475f5c4ccc357de0e9a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

.info-anal button{
  border-radius: 8px;
  border-style: ridge;
  margin:10px;
  align-items: center;
  text-align: center;
  padding:0px;
  background-color: transparent;
}
.info-anal button:hover{
  background-color:  #ffe600;
  border: yellow, 2px, dashed;
}
.info-anal .caja {
  background-color: #e6e339d5;
  color: black;
  border-color: rgba(0, 0, 0, 0.75);
  border-width: 2px;
  border-style: dashed;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  padding: 5px;
}